<article id="contact" class="site-page">
    <header>
        <h1>Get in Touch</h1>
    </header>
    <section class="site-page-content">                   
     
    <p class="validateTips">All form fields are required.</p>
    	<form id="contact-form">
        	<fieldset>
        		<div class="form-row">
            		<label for="name">Your name:</label>
            		<input type="text"  id="name" name="name" />
        		</div><!--form-row-->
                <div class="form-row">
            		<label for="email">Your Email:</label>
            		<input type="text"  id="email" name="email" />
        		</div><!--form-row-->
        		<div class="form-row">
            		<label for="message">Message:</label>
            		<textarea  id="message" rows="10" cols="30"></textarea>
        		</div><!--form-row-->
        	
                <input type="submit"  value="Send" id="send-btn" class="btn btn-green btn-bigger" />
        	
        	</fieldset>
    	</form>
    </section><!--site page content-->
</article>