<article id="signup-form-wrapper">
    <header>
        <h1>Why Sign up?</h1>
    </header>
    <section class="form-intro">                   
       <p>Phasellus nisi purus, congue aliquet hendrerit id, ornare eget elit. Phasellus hendrerit, mauris ut varius sagittis, libero odio venenatis ipsum, vel euismod lorem mi vel odio.</p>
    </section><!--form-intro-->
    <section id="form-main">
    <p class="validateTips">All form fields are required.</p>
    	<form id="signup-form">
        	<fieldset>
        		<div class="form-row">
            		<label for="name">Username:</label>
            		<input type="text" id="name" name="name" />
        		</div><!--form-row-->
                <div class="form-row">
            		<label for="email">Email:</label>
            		<input type="text" id="email" name="email" />
        		</div><!--form-row-->
        		<div class="form-row">
            		<label for="password">Password:</label>
            		<input type="password" id="password" name="password" />
        		</div><!--form-row-->
        	
                <input type="submit" value="Sign up" id="signup-btn" class="btn btn-green btn-bigger"  />
        	
        	</fieldset>
    	</form>
    </section><!--form-main-->
    <footer class="dialog-footer">
        <div class="dialog-related-actions">
            <h3>Already have an account? <a class="btn btn-blue btn-with-icon" id="go-to-login-form" href="pages/login.html" rel="account-dialog"><span class="ui-icon"></span>Login</a></h3>           	        
            
       </div>
    </footer><!--dialog-footer-->
</article><!--#signup-form-wrapper-->  