<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Data Story</title>
  <meta name="description" content="This is a tool for exploring data and for building data driven stories; focused on the World Bank Climate Change Indicators.">
  <meta name="author" content="Decio Battaglia, Kevin Mahoney and Xiaoying Riley">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="/static/images/favicon.ico">
  <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="/static/js/libs/modernizr-2.5.3.min.js"></script>  
  <!--ShareThis-->
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "747386eb-d5fd-4445-856f-360debd3fb3d"}); </script>

</head>

<body id="vote">
  <div id="wrapper">
    <header id="header">   
        <div id="header-inner">
            <h1 id="site-name"><a href="/"><img class="site-logo" src="/static/images/logo.png" alt="Data Visualization"/><span>Data Story</span></a></h1>
        </div><!--#header-inner-->
    </header><!--#header-->
    
    <div id="main" role="main">
        <article id="landing-intro">
            <header>
                <h2>If you like this application please vote for us!</h2>
            </header>
            <section class="intro-text">
              <p>This tool has been developed in our limited spare time for the World Bank's <a href="https://wbchallenge.imaginatik.com/wbchallengecomp.nsf/x/competition?open&eid=2011111685257879005955D51068264" target="_blank"> Apps for Climate competition </a> and your vote could help us win the "Popular Choice Award"!</p>              
              
            </section>   
            
            
            <section class="intro-text vote-steps">
    
              

              <h2>How to vote:</h2>

              
               <h3 class="step">Step 01:</h3>
               <p><strong>Go to the <a href="https://wbchallenge.imaginatik.com/wbchallengelogin.nsf/Registration?OpenForm" target="_blank">Registration Page</a> and sign up</strong> (apparently a password with upper/lower case characters and numbers is required)</p>
               
               <p class="screenshot"><a href="https://wbchallenge.imaginatik.com/wbchallengelogin.nsf/Registration?OpenForm" target="_blank"><img src="/static/images/register.jpg" alt="register" /></a></p>
                    
               <h3 class="step">Step 02:</h3>
               <p><strong>Open the confirmation email that will arrive shortly after registration and click on the link </strong>(you might need to look for this email in your spam folder!)</p>
                <h3 class="step">Step 03:</h3>
                <p><strong>Visit our <a href="https://wbchallenge.imaginatik.com/wbchallengecomp.nsf/x/idea?open&eid=2011111685257879005955D51068264&iid=32362048203AE1C3852579B800767B15&es=1" target="_blank" >Data Story submission page</a> and rate it.</strong> (Attention, once clicked on the stars your vote is done, there is no confirmation or no way of going back if you make a mistake!)</p>
                 <p class="screenshot"><a href="https://wbchallenge.imaginatik.com/wbchallengecomp.nsf/x/idea?open&eid=2011111685257879005955D51068264&iid=32362048203AE1C3852579B800767B15&es=1" target="_blank" ><img src="/static/images/rate-app.jpg" alt="rate our app"  /></a></p>              
                <p class="thankyou-holder"><img src="/static/images/thank-you.png" alt="thank you" /></p>     
              
              
            </section>   
            
        </article><!--landing-intro-->    
    

    </div><!--#main-->
    
    <footer id="sticky-footer">
        <div id="sticky-footer-inner">
            <section id="sharethis">
                <h4>Share This:</h4>
                <!--sharethis markup -can not be changed-->
                <div id="sharethis-icons">
                    <span class='st_facebook_large'></span>
                    <span class='st_twitter_large'></span>
                    <span class='st_email_large'></span>
                    <span class='st_sharethis_large'></span>
                </div><!-- #sharethis-icons-->
            </section><!--#sharethis-->
           
            <section id="sticky-footer-links">                
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/static/pages/about-page.html" rel="site-page">About</a></li>
                    <li><a href="mailto:info@data-story.co.uk">Contact</a></li>                 
                 </ul>                
            </section><!--#sticky-footer-links-->
                        
            <section id="source">
                <p>Data Source: <a href="http://data.worldbank.org/" target="_blank">World Bank Data</a></p>
            </section><!--#source-->   
        </div><!--#sticky-footer-inner-->        
    </footer><!--#sticky-footer-->        

               
  </div><!--!#wrapper -->

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.7.1.min.js"><\/script>')</script>
  <script src="/static/js/blocker.js"></script>
  <script src="/static/js/libs/jquery-ui-1.8.17.custom.min.js"></script> 
  <script defer src="/static/js/plugins-landing.js"></script> 
  <script defer src="/static/js/script-landing.js"></script>
  <script src="https://browserid.org/include.js" type="text/javascript"></script>
  <script src="/static/js/login.js"></script>
  <!--Google Analytics-->
  <script>
    var _gaq=[['_setAccount','UA-30024041-2'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>  
 
</body>
</html>
